.aboutDetailTitle{
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
}

.aboutDetailTitle>h1{
    width: 45%;
}

.aboutDetailTitle>p{
    width: 30%;
    margin-top: 70px;
}

@media screen and (max-width: 950px) {
    .aboutDetailTitle>h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 700px) {
    .aboutDetailTitle{
        display: flex;
        flex-direction: column;
    }
    .aboutDetailTitle>h1{
        width: 98%;
        font-size: 40px;
    }

    .aboutDetailTitle>p{
        margin-right: 2px;
        width: 98%;
    }
}

/*/ / / //  / / / / / / / / /  / / / / / / / / / / / / / / / /  / /  /*/