.aboutDetailTitle{
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
}

.aboutDetailTitle>h1{
    width: 45%;
}

.aboutDetailTitle>p{
    width: 30%;
    margin-top: 70px;
}

/*            cote defilement Debut             */

/* @keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
span {
    animation: text-appear 0.5s forwards;
}

@keyframes appear-disappear {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.repeating-animation {
    animation: appear-disappear 5s infinite;
    transition: opacity 2s;
}*/

/*            cote defilement Fin             */

@media screen and (max-width: 950px) {
    .aboutDetailTitle>h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 700px) {
    .aboutDetailTitle{
        display: flex;
        flex-direction: column;
    }
    .aboutDetailTitle>h1{
        width: 98%;
        font-size: 40px;
    }

    .aboutDetailTitle>p{
        margin-right: 2px;
        width: 98%;
    }
}

/*/ / / //  / / / / / / / / /  / / / / / / / / / / / / / / / /  / /  /*/