body {
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
    width: 100%;

}

#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    /* border: 1px solid red; */
    padding: 0px;
}

.text-justify{
    text-align: justify;
}

.background-primary{
    background-color: var(--color-primary);
}

.text-white{
    color: var(--color-white);
}

.text-color-primary{
    color: var(--color-primary);
}



.button-hover:hover{
    border: 1px solid var(--color-primary) !important;
    color: var(--color-primary) !important;
    background-color: transparent !important;
}


