.AdhesionFormComponent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AdhesionFormContainer{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}


.AdhesionForm{
    border: 1px solid #ef7a207e;
    color: white;
    padding: 20px;
}

.AdhesionForm>p{
    margin: 10px;
}

.AdhesionForm>h5{
    text-align: center;
    margin-bottom: 50px;
}

.SubmitContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SubmitAdhesion{
    background-color: #EF7B20;
    width: auto;
    text-align: center;
    border: none;
}

.SubmitAdhesion:hover{
    background-color: black;
    border:  1px solid #EF7B20;
}

.AdhesionForm>*{
    margin: 25px 0px;
}

/* ----------------------------- */

@media screen and (max-width: 860px){
    .AdhesionFormContainer{
        width: 96%;
    }

    .AdhesionForm{
        width: 96%;
    }

    .adhesionFormRow{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}