.containerArticleContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
}

.containerArticleContainer>div{
    width: 90%;
}

.articleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.articleContainer>div{
  margin-bottom: 25px;
  min-width: 280px;
  max-width: 310px;
}

._bloc {
  max-width: 310px;
  min-width: 280px;
  height: auto
}

._article {
    border: 1px solid #ef7a2083;
    border-radius: 10px;
    height: auto
}

._article:hover {
  border: 2px solid #ef7a2066;
  padding: 0.5rem;
  box-shadow: 4px 6px 8px #ef7a2083;
  transition: 0.4s linear;
}

.articles {
  max-width: 310px;
  min-width: 280px;
  height: auto;
  border-radius: 10px;
}

.image-container {
    width: 100%;
    height: 320px;
}

.img-fluid{
    width: auto;
    height: 320px;
    border-radius: 8px;
}

.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CerclePlus{
    position: relative;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -20px;
    background-color: #EF7B20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.CerclePlus:hover{
    background-color: #EF7B20;
}


.text-container {
    margin-top: 40px;
    padding: 10px;
    height: 140px;
}

.text-container p {
    margin: 5px 0;
}

@media screen and (max-width: 1452px) {
  .articleContainer{
      display: flex;
      flex-wrap: wrap;
  }
}
