body{
    background: black;
    padding: 0px;
    margin: 0px;
}
.askDevisContainer{
    background-color: black;
    border: 1px solid #ef7a2077;
    width: 70%;
    padding: 30px;
}

.afterAskDevisContainer{
    width: 80%;
    padding: 30px;
}

.transition-container {
    animation: slide-in 2s;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.join_alitcha_button{
    color: #EF7B20;
    border: 1px solid #EF7B20;
    border-radius: 8px;
    background-color: black;
}

.join_alitcha_button:hover{
    color: white;
    border: 1px solid #EF7B20;
    border-radius: 20px;
    background-color: black;
}

.intranet_button{
    color: #EF7B20;
    border: 1px solid #EF7B20;
    background-color: black;
    width: auto;
}

.intranet_button:hover{
    background-color: #EF7B20;
    border: 1px solid #EF7B20;
}

@media screen and (max-width: 767px) {
    .askDevisContainer{
        width: 96%;
        padding: 3px;
    }

    .afterAskDevisContainer{
        width: 96%;
        padding: 3px;
        border: none;
    }
}