.condition-section-content{
    width: 88%;
}

.condition-container{
    background-image: url('../../assets/images/condition-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.condition-container>div{
    background-color: rgba(0, 0, 0, 0.88);
    padding: 50px;
}



@media screen and (max-width: 690px) {
    .condition-section-content{
        width: 100%;
    }
    .condition-section-content-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .condition-section-content-buttons>h6{
        margin-bottom: 25px;
    }
    .collapseOther1-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .collapseOther1-1>h6{
        margin-bottom: 25px;
    }
}