
.condition-container{
    background-image: url('../../assets/images/condition-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.condition-next-container{
    background: linear-gradient(to right, #000,#000, transparent);
}

.condition-next-container h5{
    border-bottom: 1px solid var(--color-primary);
    padding: 10px;
}