body{
    background: black;
}

.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.container p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.articleDetailTitle>h1{
    width: 45%;
}

.articleDetailTitle>p{
    width: 50%;
}

.articleDetailImage2{
    max-height: 200px;
    width: 100%;
}

.articleDetailImage1{
    max-height: 678px;
    width: 100%;
}

.articlePJustify{
    text-align: justify;
}

@media screen and (max-width: 950px) {
    .container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .articleDetailTitle>h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 700px) {
    .articleDetailTitle{
        display: flex;
        flex-direction: column;
    }
    .articleDetailTitle>h1{
        width: 98%;
        font-size: 40px;
    }

    .articleDetailTitle>p{
        margin-right: 2px;
        width: 98%;
    }
}