*{
    padding: 0;
    margin: 0;
    width: 100%;
}


.footer {
    background-color: #000;
    width: 100%;
    border-top: 3px solid #EF7B20;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer>img{
    width: 200px;
}

.footerNav{
    align-content: center;
}

.footerNav .nav-link {
    color: white;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

.footerNav .nav-link:hover {
    width: auto;
    opacity: 1;
    color: #EF7B20;
}

.footerNav_Nav{
    margin-bottom: 30px;
    width: 60%;
    align-items: center;
}


.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    width: 30px;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 2em;
    opacity: 0.9;
}

.socialIcons a:hover {
    transition: 0.5s;
    transition: 0.5s;
    color: #EF7B20;
}

.footerBottom {
    background-color: #000;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerBottom p {
    color: white;
}

@media (max-width: 1000px) {
    .footerNav_Nav{
        width: 70%;
    }
}

@media (max-width: 900px) {
    .footerNav_Nav{
        width: 80%;
    }
}

@media (max-width: 750px) {
    .footerNav_Nav {
        display: flex;
        flex-direction: column;
    }

    ._w-100_{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}
