#newsletter{
    width: 70%;
    margin: auto;
    /* border: 0.2px solid var(--color-primary); */
    /* padding: 10px 100px; */
    /* border-image: linear-gradient(to right, #EF7B20, #000, #EF7B20) 30;
    border-width: 0.2px;
    border-style: solid; */
    background-image: linear-gradient(to right, black, black),
    linear-gradient(90deg, #EF7B20, #000, #000, #EF7B20);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: .2px solid transparent;
    border-radius: 10px;
}

#newsletter h3{
    text-transform: uppercase;
}

#input-fied{
    width: 623px;
    height: 58px;
}
.newsletter-input-container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 950px){
    #newsletter{
        width: 80%;
    }
    
}

@media screen and (max-width: 550px){
    #newsletter{
        width: 90%;
    }
    
}

@media screen and (max-width: 525px){
    .newsletter-input-container{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 525px){
    .newsletter-input{
        height: 54px;
        margin: 0px 15px 0px 0px;
    }
    .newsletter-button{
        height: 54px;
        position: relative;
        top: 5px;
    }
    
}