
#projet-section{
    width: 80%;
    margin: auto;
}
#project-container{
    height: 500px;
}

@media screen and (max-width: 1264px){
    #project-container{
        height: auto;
    }
    #projet-section{
        width: 100%;
    }
}