#reflexion-section{
    /* border: 1px solid; */
    background-image: linear-gradient(to top right, black, black),
    linear-gradient(90deg, white, #000, #000, white);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: .2px solid transparent;
    /* border-radius: 10px; */
}

.reflexion-container{
    width: 800px;
}

.reflexion-container h3{
    text-transform: uppercase;
    margin: 30px 0px;
}

@media screen and (max-width:800px) {
    .reflexion-container{
        width: 100%;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:1225px) {
    .reflexion-container{
        width: 600px;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:1025px) {
    .reflexion-container{
        width: 500px;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:925px) {
    .reflexion-container{
        width: 400px;
        flex-direction: row-reverse;
    }
}