.HeroHeader
{
    color: white;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BigText
{
    font-size: 50px;
    width: 40%;
    text-align: left;
}
.SmallText
{
    width: 20%;
    text-align: left;
    position: relative;
    top: -75px;
    left: 250px;
}