.icon-left{
    display: inline-block;
    background-image: linear-gradient(to right, black, black),
    linear-gradient(90deg, #EF7B20, #EF7B20, #000, #000);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: .2px solid transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 15px 5px;
    cursor: pointer;
}
.icon-right{
    display: inline-block;
    background-image: linear-gradient(to left, black, black),
    linear-gradient(90deg, #000, #000, #EF7B20, #EF7B20);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: .2px solid transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 15px 5px;
    cursor: pointer;
}